apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "celery-worker.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: celery-worker
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: celery-worker
  template:
    metadata:
      labels:
        app.kubernetes.io/name: celery-worker
    spec:
      containers:
        - name: celery-worker
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ .Values.envConfigMap }}
            - secretRef:
                name: {{ .Values.envSecret }}
          command: ["celery"]
          args: ["-A", "rmq.celery_app", "worker", "-l", "info"]
