apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "backend.fullname" . }}-clearsessions
  labels:
{{ include "backend.labels" . | indent 4 }}
spec:
  schedule: "0 3 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: clearsessions
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              envFrom:
                - configMapRef:
                    name: {{ .Values.configMapName }}
                - secretRef:
                    name: {{ .Values.secretName }}
              command: ["python", "manage.py", "clearsessions"]
