apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "redis-insight.fullname" . }}-pvc
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
